Flask==1.1.4
Flask-RESTful==0.3.9
Flask-SQLAlchemy==2.5.1
Flask-Marshmallow==0.15.0
marshmallow==3.13.0
marshmallow-sqlalchemy==0.26.1
Flask-JWT-Extended==3.25.1
psycopg2-binary==2.9.9
markupsafe==2.0.1
SQLAlchemy==1.4.46
gunicorn==20.1.0

# Test dependencies
pytest==7.4.0
pytest-flask==1.2.0
Flask-Testing==0.8.1
faker==18.9.0

